:root {
    --bg-body: rgb(13, 26, 45);
    --main-bg: rgb(21, 39, 63);
    --mainColor: hsl(0, 0%, 100%);
    --colorParagrapgh: rgb(135, 154, 184);
    --transition: 0.3s;
    --hover-color: rgb(0, 255, 248);
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
    min-height: 100vh;
    position: relative;
}

/* Start */
main {
    background-color: var(--main-bg);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

main .img {
    position: relative;
    overflow: hidden;
}

main .img::before{
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 0.1px;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}
main .img:hover::before {
    height: 100%;
    border-radius: 10px;
    background-color:rgba(1, 153, 173, 0.369);
}
main .img::after{
    content: url(images/icon-view.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-delay: 1s;
    opacity: 0;
}
main .img:hover::after{
    opacity: 1;
}

main .img img {
    max-width: 100%;
    border-radius: 10px;
}

main h2 {
    color: var(--mainColor);
    transition-duration: var(--transition);
}

main>p {
    color: var(--colorParagrapgh);
    font-size: 17px;
    line-height: 1.4;
}

main .days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


main .days span:first-child {
    color: var(--hover-color);
}

main .days span:first-child::before {
    content: url(images/icon-ethereum.svg);
    padding-right: 7px;
    position: relative;
    top: 3px;
}

main .days span:last-child {
    color: rgb(139, 172, 217);
    position: relative;

}

main .days span:last-child::before {
    content: url(images/icon-clock.svg);
    padding-right: 5px;
    position: relative;
    top: 3px;
}

main .creator {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.126);
}

main .creator img {
    border: 1px solid var(--mainColor);
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}

main .creator span {
    color: var(--colorParagrapgh);
    padding-right: 2px;
}

main .creator p {
    color: var(--mainColor);
    transition: var(--transition);
}

main .creator p:hover,
main h2:hover {
    color: var(--hover-color);
}
.attribution{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--mainColor);
}
.attribution a{
    color: var(--hover-color);
    text-decoration: none;
    line-height: 1.4;
}